body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }
  
  #controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  